/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 */ 

section.section {
background: #333333;
color: lightgrey;
} 
 
#main-wrapper {
margin-top: 80px;
margin-bottom:0px;
}
 
 .navbar-fixed-top {
	position:fixed;
 }
 
.navbar .nav {
display: block!important;
float: right!important;
left: 0!important;
margin: 0px 0px 0 0!important;
position: relative!important;
}

.navbar-nav>li>a {
padding-top: 40px;
padding-bottom: 20px;
}

.carousel-inner>.item>img {
	height:500px;
}

.navbar-brand {
	height:80px;
}

#main-navigation > div > div.navbar-header > a > img {
	width:275px;
}